name: Release
on:
  push:
    tags:
      - "**"
  workflow_dispatch: # Allows manual triggering
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # required to create releases
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
      - name: Install Zig
        uses: mlugg/setup-zig@v1
        with:
          version: 0.14.0
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libwayland-dev libx11-dev xorg-dev libegl-dev libxkbcommon-dev
          version: 1.0
      # - name: Install wayland # TODO: existing bug, this is required to bypass bug and build raylib-zig
      #   run: |
      #     sudo apt update && sudo apt upgrade && sudo apt install libwayland-dev libx11-dev xorg-dev libegl-dev libxkbcommon-dev
      - uses: qoomon/actions--parallel-steps@main
        id: parallel-builds
        with:
          steps: |
            - run: "zig build -Dtarget=x86_64-windows -Doptimize=ReleaseSafe -Dexe_name=aztewoidz_windows_x86"
            - run: "zig build -Dtarget=x86_64-macos -Doptimize=ReleaseSafe -Dexe_name=aztewoidz_mac_x86"
            - run: "zig build -Dtarget=aarch64-macos -Doptimize=ReleaseSafe -Dexe_name=aztewoidz_mac_arm"
            - run: "zig build -Dtarget=x86_64-linux -Doptimize=ReleaseSafe  -Dexe_name=aztewoidz_linux_x86"
      # - name: Build Windows
      #   run: "zig build -Dtarget=x86_64-windows -Doptimize=ReleaseSafe -Dexe_name=aztewoidz_windows_x86"
      # - name: Build Mac_x86
      #   run: "zig build -Dtarget=x86_64-macos -Doptimize=ReleaseSafe -Dexe_name=aztewoidz_mac_x86"
      # - name: Build Mac_ARM
      #   run: "zig build -Dtarget=aarch64-macos -Doptimize=ReleaseSafe -Dexe_name=aztewoidz_mac_arm"
      # - name: Build Linux_x86
      #   run: "zig build -Dtarget=x86_64-linux -Doptimize=ReleaseSafe  -Dexe_name=aztewoidz_linux_x86"
      # - name: Build Linux_ARM
      #   run: "zig build -Dtarget=aarch64-linux -Doptimize=ReleaseSafe"
      - name: Generate Checksums
        run: |
          cd ./zig-out/bin
          ls -al
          sha256sum aztewoidz_windows_x86.exe aztewoidz_mac_arm aztewoidz_mac_x86 aztewoidz_linux_x86 > checksums.txt
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./zig-out/bin/aztewoidz_windows_x86.exe
            ./zig-out/bin/aztewoidz_mac_x86
            ./zig-out/bin/aztewoidz_mac_arm
            ./zig-out/bin/aztewoidz_linux_x86
            # ./zig-out/bin/aztewoidz_linux_arm
            ./zig-out/bin/checksums.txt
            LICENSE
